name: CI

on:
  push:
    branches: ["main", "master"]
  pull_request:

jobs:
  test-and-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.api.txt
          pip install -r requirements.dev.txt

      - name: Run tests
        env:
          MODEL_PATH: artifacts/catboost_model.cbm
          META_PATH: artifacts/model_meta.joblib
        run: |
          pytest -q

      - name: Build Docker image
        run: |
          docker build -t churn-api:ci .
